/* login page design */
body {
    margin: 0;
    padding: 0;
    background-color: #dee6f1;
    font-family: "Inter", sans-serif;
}

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* keep video behind everything */
    object-fit: cover; /* crop nicely */
    filter: brightness(100%); /* darken so text is visible */
}

.container {
    background-color: #ffffff;
    width: 30%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16PX;
    
}

.login-logo {
    display: flex;
    justify-content: center;
    padding: 32px;
    padding-bottom: 0px;
}

.fa-book {
    color: #b88139;
    font-size: 50px;
}

.heading {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 38px;
    margin-bottom: 4px;
}

.text-below-heading {
    text-align: center;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 8px;
}

.login-form {
    margin-left: 30px;
    margin-right: 30px;
    
    
    
}

.input-form {
    padding-top: 24px;
    padding-right: 10px;
    padding-bottom: 12px;
}

.form-label {
    font-weight: bold;
    font-size: 20px;
    color: #222222;
    display: block;
    margin-bottom: 6px;
}

.login-input {
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    border: 2px solid #ddd;
    color: #000;
}

.login-notification {
    text-align: center;
    padding-bottom: 12px;
}

.login-button {
    width: 100%;
    padding: 16px 28px;
    margin-top: 0;
    background-color: #b88139;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 24px;
}

.login-button:hover {
    background-color: #2459ce;
}

.student-page-button {
    width: 100%;
    padding: 16px 28px;
    margin-top: 0;
    background-color: #fff;
    color: #b88139;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 40px;
}



/* librarian dashboard */

#dashboard-body {
    background-color: #ebebeb;
}

header {
    background-color: #fff;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
}

.dashboard-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logout-button {
    padding: 16px 28px;
    margin-top: 0;
    background-color: #fff;
    color: #4a4b4d;
    border: none;
    border-radius: 8px;
    font-size: 28px;
    cursor: pointer;
}

.logout-button:hover {
    color: #2563eb;
}

.card-container {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.cards {
    background-color: #ffffff;
    border-left: 4px solid #2563eb;
    border-radius: 8px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    box-shadow: 0 2px 5px #0000001a;
}

.card1 {
    background-color: #ffffff;
    border-left: 4px solid #3ceb25;
    border-radius: 8px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    box-shadow: 0 2px 5px #0000001a;
}

.card2 {
    background-color: #ffffff;
    border-left: 4px solid #eb2525;
    border-radius: 8px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    box-shadow: 0 2px 5px #0000001a;
}

.fa-book-bookmark {
    color: #2563eb;
    font-size: 36px;
}

.fa-circle-check {
    color: #3ceb25;
    font-size: 36px;
}

.fa-circle-xmark {
    color: #eb2525;
    font-size: 36px;
}

/* section 3 */
.container2 {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.search {
    border: 4px solid #000;
    border-radius: 8px;
    padding: 8px; 
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 20%;
}

.fa-magnifying-glass {
    color: #636262;
    font-size: 24px;
}

.search-book {
    padding: 8px;
    width: 100%;
    border: none;
}
.search-book:focus {
    outline: none;
}

.add-button {
    padding: 18px 20px;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #2459ce;
}

.table-cont {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
}

table {
    width: 100%;
    text-align: left;
}

thead {
    font-size: 24px;
    color: #4b4b4b;
    background-color: #c8c8e4;
    
}

th {
    padding: 20px;
}

tbody {
    font-size: 20px;
    background-color: #fff;
    font-weight: bold;
    color: #000;
}

td {
    padding: 20px;
}

/* .book-info-head {
    display: flex;
    gap: 10px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
    background-color: #d3d3d3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #555555;
}

.book-info {
    display: flex;
    gap: 10px;
    margin-left: 48px;
    margin-right: 48px;
    background-color: #ffffff;
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 5px #0000001a;
}

.book-details {
    width: 30%;
    padding-left: 24px;
}
.author {
    width: 30%;
}
.year {
    width: 10%;
}
.status {
    width: 16%;
}
.action {
    width: 14%;
    display: flex;
    align-items: center;
} */

.edit-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.fa-credit-card {
    font-size: 30px;
    color: #2563eb;
}

.fa-trash {
    font-size: 26px;
    color: #ff0000;
}

.edit-book {
    padding: 24px;
    background-color: #fff;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16PX;
    display: none;
}

.add-book {
    padding: 24px;
    background-color: #fff;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16PX;
    display: none;
}

.input-cont {
    margin-right: 10px;
}

.edit-input {
    padding: 12px;
    border-radius: 8px;
    width: 95%;
}

.status-type {
    padding: 12px;
    border-radius: 8px;
    width: 100%;
}

.add-button2 {
    padding: 9px 10px;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 24px;
}

.edit-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button-head {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}