body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
  background: #f9f9f9;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 48px;
  margin-left: 48px;
 margin-top: 24px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.login-link {
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}


.card-container {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
    display: flex;
    gap: 20px;
    
}
.cards {
    background-color: #FFFFFF;
    border-left: 4px solid #2563EB;
    border-radius: 8px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    box-shadow: 0 2px 5px #0000001a;
    
}
.card1 {
    background-color: #FFFFFF;
    border-left: 4px solid #3CEB25;
    border-radius: 8px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    box-shadow: 0 2px 5px #0000001a;
}
.card2 {
    background-color: #FFFFFF;
    border-left: 4px solid #EB2525;
    border-radius: 8px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    box-shadow: 0 2px 5px #0000001a;
}
.fa-book-bookmark {
    color: #2563EB;
    font-size: 36px;
}
.fa-circle-check {
    color: #3CEB25;
    font-size: 36px;
}
.fa-circle-xmark {
    color: #EB2525;
    font-size: 36px;
}
.input{
    padding: 14px;
    border-radius: 6px;
    grid-column: 1/-1;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
    border-color: none;

}

.summary-box .icon {
  width: 30px;
  height: 30px;
}

.total {
  background-color: #ffffff;
  color: #072297;
  padding: 4px;
  border-left:4px solid blue;
  box-shadow: 0 2px 5px #0000001a;
}

.available {
  background-color: #ffffff;
  color: rgb(26, 102, 26);
   border-left:4px solid green;
  box-shadow: 0 2px 5px #0000001a;
}

.checked-out {
  background-color: #ffffff;
 
  color: red;
   border-left:4px solid rgb(226, 41, 17);
  box-shadow: 0 2px 5px #0000001a;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
   margin-left: 48px;
    margin-right: 48px;
  
}

.book-card {
  background: #fff;
  border: none;
  color: #3e4142;
  padding: 15px;
  border-radius: 8px;
    border-color: none ;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.book-card h3 {
  margin-top: 0;
}
.author {
    font-size: 14px;
    font-weight: bold;
    color: #616364;
}
.T{
    font-size: 10px;
    color: #828688;
    font-weight: bold;
}
/* .status {
  font-weight: bold;
  margin-top: 10px;
} */
.summary-box .available{
    display: flex;
}
.no-results {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  color: #a00;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;

}
.Tb{
    font-size: 12px;
    color: #616364;
}
.status{
  background-color: #abf0c8;
  font-weight: bold;
  font-size: 12px;
  border-radius: 8px;
  align-content: center;
  padding-top: none;
  padding-bottom: none;
  padding-left: 5px;
  padding-right: 5px;
}
.gh{
  display: flex;
  justify-content: space-between;
  
}
.status_out{
  background-color: #f0d2d2;
   font-weight: bold;
  font-size: 12px;
  border-radius: 8px;
  align-content: center;
  padding-top: none;
  padding-bottom: none;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(168, 42, 42);
}

.fa-solid fa-check{
   color: #1b221a;
    font-size: 36px;
}